body {
  color: rgba(255, 96, 96, 1);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}
.grise {
  color: rgba(227, 227, 227, 1);
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: underline;
  color: rgba(255, 96, 96, 1);
}
