.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 100px 50px;
  flex-grow: 1;
}
.about__collapses {
  width: 75%;
}
@media (max-width: 725px) {
  .about {
    margin: 20px;
  }
  .about__collapses {
    width: 100%;
    margin-top: 20px;
  }
}
