header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 100px 0 100px;
}
@media (max-width: 725px) {
  header {
    margin: 20px 20px 0;
    & svg {
      width: 145px;
    }
  }
}
