.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;

  margin-bottom: 20px;
}
.rotate {
  transform: scaleY(-1);
}
.collapse__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-radius: 5px;
  background-color: rgba(255, 96, 96, 1);
}
.collapse__title {
  margin: 0;
  padding-left: 15px;
  font-size: 24px;
  font-weight: 500;
}
.collapse__togglebtn {
  background-color: rgba(255, 96, 96, 1);
  padding-right: 17px;
  border: none;
}
.collapse__content {
  color: rgba(255, 96, 96, 1);
  background-color: rgba(246, 246, 246, 1);
  font-size: 24px;
  font-weight: 400;
  padding: 27px 18px 18px 27px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
}
