footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
  padding: 66px 0px 29px 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 24px;
}
footer p {
  padding: 30px 0;
}
